<html>
<body>
    <h3>Consumer complaints ticket router: Multiclass classification</h3>


  <form action="/predict" method="POST">

	<label for="state">state</label>
	
    <textarea name="state" rows="1" cols="10"></textarea>>
	
	<br>
	<br>
	
	<label for="tags">tags:</label>
	<select name="tags" id="tags">
		
		<option value="  ">  </option>
		<option value=" Older American "> Older American </option>
		<option value=" Servicemember "> Servicemember </option>
		<option value=" Older American, Servicemember "> Older American, Servicemember </option>

	</select>
	
    <input type="submit" value="Submit">

  </form>
</div>
</body>
</html>


